#controlPanel {
  background-color: lightblue;
  padding: 15px 30px 10px 15px;
  display: flex;
  justify-content: space-between;
}

#controlPanel > div {
  width: 50%;
}

.selected {
  background-color: #1d2ea1;
}

input:invalid {
  background-color: pink;
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
  background: blue;
  color: white;
  cursor: pointer;
  text-align: center;
  margin: 10px 0px;
}

button:hover {
  background: #0053ba;
}

button:active {
  transform: scale(0.99);
}

input {
  border: none;
  padding: 5px;
  border-radius: 2px;
}

table {
  border-spacing: 10px;
}

label {
  margin: 5px 0px;
}

ol {
  padding: 0px 0px 0px 40px;
  box-shadow: 100px green;
}

a:hover {
  background-color: white;
}

a,
a:visited {
  color: #111111;
  border-bottom: 0.1em solid white;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  padding: 2px;
  border-radius: 4px;
}

.training {
  opacity: 50%;
}

li span {
  font-weight: bolder;
}
