#controlPanel {
  background-color: lightblue;
}
.button {
  background-color: #656eab;
  display: inline-block;
  margin: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #000b54;
}
.selected {
  background-color: #1d2ea1;
}

input:invalid {
  background-color: pink;
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
  background: blue;
  color: white;
  cursor: pointer;
  text-align: center;
  margin: 10px 0px;
}

button:hover {
  background: #0053ba;
}

input {
  margin: 10px;
  border: none;
  padding: 5px;
  border-radius: 2px;
}
label {
  margin: 5px;
}
